<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer footer-copyright text-center py-3">&copy;
    <script type="text/javascript">document.write(new Date().getFullYear())</script>
       Made with 🖤 from <a href="https://github.com/invalidmarkup369" target="_blank"> <span>invalidmarkup369</span></a>
  </div>
  <!-- Copyright -->

</footer>
<script src="js/script.js" type="text/javascript"></script>
</body>
</html>
