<%- include("partials/header.ejs") %>

<div class="container memos">
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <h1>Welcome again!</h1>
      <p class="into-text">Here you can find your memos and memos from other users</p>
    </div>
  </div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 mb-5">

    <div class="card mx-auto border border-info shadow-0 mb-3" style="max-width: 18rem;">
<div class="card-header">Topic</div>
<div class="card-body">
  <h5 class="card-title">title</h5>
  <p class="card-text">
    code, commands etc
  </p>
</div>
</div>

  </div>
</div>
  <a class="btn ml-2 btn-outline-success" href="/submit">Submit memos</a>
  <a class="btn ml-2 btn-outline-danger" href="/logout">Log out</a>

</div>


<%- include("partials/footer.ejs") %>
