<%- include("partials/header.ejs") %>

<div class="container memos ">
    <hr>
    <h1>Welcome again!</h1>
    <p class="into-text">Here you can find your memos and memos from other users</p>

<div class="row">
  <div class="col-4">
    <div class="card card-memo">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
      </div>
    </div>
  </div>
</div>


</div>


<%- include("partials/footer.ejs") %>
