<%- include("partials/header.ejs") %>
  <div class="container container-submit">
    <a href="/"><hr></a>
        <h1>Submit new memo</h1>

              <form class="padd-15" action="/submit" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="topic">Topic:</label>
                      <input type="text" class="form-control" placeholder="Topic name" name="topic">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control"  placeholder="Title" name="title">
                  </div>
                  <div class="form-group col-lg-12">
                      <label for="content">Your memo content:</label>
                      <textarea class="form-control" placeholder="Code, commands, etc..." rows="5" name="content" ></textarea>
                  </div>
                </div>
                <div class="buttons">
                  <button type="submit" class="btn btn-outline-success">Submit</button>
                  <a class="btn ml-2 btn-outline-danger" href="/memos">Cancel</a>
                </div>
              </form>
          </div>

<%- include("partials/footer.ejs") %>
