@import "shared/responsive.css";
@import "shared/memocard.css";

*, *::before, *::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  font-family: 'Montserrat Alternates', sans-serif; 
}
.container{
  max-width:1200px;
  margin: auto;
}
.container-fixed h1{
  text-align: center;
  padding-bottom: 20px;
}
.container-submit h1{
  text-align: center;
}
.memos{
  text-align: center;
  font-size: 22px;
}

.container h1{
  padding-top: 20px;
}
.container .intro-text{
  font-size: 1.5rem;
  font-size: 400;
}
.container .explanation{
  /* list-style-type: none; */
  font-size: 1.3rem;
  font-size: 300;
  padding-bottom: 25px;
}

/* hr */
hr{

    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "memos";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #ECE9E6;
}
.padd-15{
  padding-top: 15px;
  padding-bottom: 15px;
}
.buttons{
  text-align: center;
}
.buttons span{
  padding-left: 20px;
  padding-right: 20px;
}

.social-text{
  font-size: 15px;
}
.footer{
  margin-top: 30px;
}
.footer a{
  color: #333;
}
.footer a:hover{
  text-decoration: none;
  color: #626a73;
}
.footer span{
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: gray;
}
.my-animation:hover{
  transform: scale(0.9);
  border-radius: 10px;
}
.text-login a{
    color: gray;
    font-size: 15px;
}
.text-login a:hover{
  text-decoration: none;
  color: #626a73;
}

/* back to top button */

#myBtn{
  padding: 15px;
  width: 50px;
  border-radius: 12px;
  font-size: 12px;
  outline: none;
  border: none;
  position: fixed;
  right: 75px;
  bottom: 50px;
  color:#F4F2F0;
  background-color: #d12b44;
}
#myBtn:hover{
  background-color: #626a73;
}
