@media screen and (max-width:413px) {
  .container h1{
    text-align: center;
    font-size: 33px;
  }
  .container p{
    text-align: center;
    font-size: 25px!important;
    text-indent: 10px;
  }
  footer{
    padding-top: 100px;
  }
}
